.component {
    position: relative;
    top: 60px;
    left: 60px;
    display: grid;
    border: 1px solid gray;
    width: fit-content;
}
.square {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-color: #419fe4;
}
#root {
    width: fit-content;
}
.modSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    color: cornsilk;
    font-size: 26px;
    cursor: pointer;
    border: 2px solid white;
}
.modSquare:hover {
    border: 2px solid #419fe4;
}
.add {
    transition: background-color 0.5s;
    background-color: #f3a500;
}
.add:hover {
    background-color: #f6c052;
}
.sub {
    transition: background-color 0.5s, left 0.3s, top 0.3s;
    display: none;
    background-color:#b22901;
}
.sub:hover {
    background-color: #ca4c49;
}
#addColumn {
    top: 68px;
}
#addRow {
    left: 68px;
}
#subColumn {
    
    top: 14px;
}
#subRow {
    
    left: 14px;
}