
.squareBox {
    display: flex;
    border: 1px solid gray;
}
.square {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-color: #419fe4;
}
.modSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: cornsilk;
    font-size: 26px;
    cursor: pointer;
    border: 2px solid white;
}
.modSquare:hover {
    border: 2px solid #419fe4;
}
.add {
    transition: background-color 0.5s;
    background-color: #f3a500;
}
.add:hover {
    background-color: #f6c052;
}
.sub {
    transition: margin 0.5s, left 0.3s, top 0.3s;
    background-color:#b22901;
    visibility: hidden;
}
.sub:hover {
    background-color: #ca4c49;
}
.medium {
    display: flex;
    width: fit-content;
}
.add.row {
    margin-left: 54px;
}
